[flake8]
exclude = 
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    notebook/,
    venv_3.11/
extend-ignore = E203, E501
max-complexity = 10
max-line-length = 127
